div {
	border: solid red 5px;
}

.container {
	display: grid;
	grid-template-rows: 1fr 5fr;
	grid-template-columns: 1fr 4fr;
	height: 100vh;
	width: 100vw;
}

.dashboard {
	display: grid;
	grid-row: 1/3;
	grid-column: 1/2;
	grid-template-rows: 1fr 10fr;
}

.header {
	grid-row: 1/2;
	display: grid;
	grid-column: 2/3;
}

.header-top {
	display: grid;
	grid-template-columns: 5fr 2fr;
}

.header-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.content {
	grid-row: 2/3;
	display: grid;
	grid-column: 2/3;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
}


.projects {
	grid-column: 1/2;
	grid-row: 1/3;
}

.announcements {
	grid-column: 2/3;
	grid-row: 1/2;
}

.trending {
	grid-row: 2/3;
	grid-column: 2/3;
}
